<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>EncodiongFilter</filter-name>
		<filter-class>com.lames.client.filter.EncodiongFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodiongFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ShopListServlet</servlet-name>
		<servlet-class>com.lames.client.servlet.ShopListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecipeListServlet</servlet-name>
		<servlet-class>com.lames.client.servlet.RecipeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopListServlet</servlet-name>
		<url-pattern>/ShopListServlet</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping> -->
	<!-- <url-pattern>*.jpg</url-pattern> -->
	<!-- </servlet-mapping> -->
	<listener>
		<listener-class>com.lames.client.listener.ContextAttributeListener</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>RecipeListServlet</servlet-name>
		<url-pattern>/RecipeListServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/ShopListServlet</welcome-file>
	</welcome-file-list>
</web-app>
